@import "libs/styles/mixin/index";

body, p {
  margin: 0;
}

.logo {
  display: block;
  width: 10vw;
  max-width: 80px;
}

.videoWrap {
  @include wrap($selector: 'video', $width: 100%, $center: false);
  video {
    max-height: 400px;
    background: rgba(0, 0, 0, .85);
  }
}
