<!DOCTYPE html>
<!--[if IE 9]>          <html lang="zh" class="ie9 no-js">   <![endif]-->
<!--[if gt IE 9]><!-->  <html lang="zh" class="no-js">       <!--<![endif]-->
<head>
  <title>ifvisible demo app</title>
  <meta charset="utf-8">
  <meta name="description" content="">

  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <meta name="full-screen" content="yes">
  <meta name="format-detection" content="telephone=no;address=no;email=no;">
  <meta http-equiv="cleartype" content="on">

</head>
<body>
  <div id="root">
    <div class="render">
      <img src="share/logo.svg" />
      <img src="static/search.png" />
    <div>
  </div>
</body>
</html>
