body {
  /* comment will be removed */
  // background: red;
  height: 300px;
  z-index: 1000;
  display: flex;
  transition: all .3s;
  background: url("../images/search.png") no-repeat;
}

.test {
  color: red;
}
